<app-header-one [showBackButton]="true">{{ post?.type ?? 'Details' }}</app-header-one>

<ion-content *ngIf="post">
    <div class="px-2 pt-4">
        <ion-text color="primary">
            <h1 class="text-2xl">{{ post.title }}</h1>
        </ion-text>
    </div>

    <div class="px-2 pt-3">
        <h3 class="text-sm">Published {{ post.createdAt | date }}</h3>
        <div class="my-3">
            <ion-chip *ngFor="let tag of post.tags" class="mr-2">
                <ion-label>
                    {{ tag }}
                </ion-label>
            </ion-chip>
        </div>
    </div>

    <div class="mt-8 px-2">
        <div class="mb-8" [innerHtml]="post.text"></div>
        <div class="text-right"></div>
    </div>

    <ion-card color="light">
        <ion-card-header>
            <ion-card-subtitle>{{ post?.type }} related to</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <div class="flex justify-between">
                <div>Country</div>
                <div class="font-bold">{{ post.country }}</div>
            </div>
            <div class="flex justify-between">
                <div>State / City</div>
                <div class="font-bold">{{ post.state }}</div>
            </div>
            <div class="flex justify-between">
                <div>Institute</div>
                <div class="font-bold">{{ post.institute }}</div>
            </div>
            <div class="flex justify-between">
                <div>Study Level</div>
                <div class="font-bold">{{ post.level }}</div>
            </div>
            <div class="flex justify-between">
                <div>Program Name</div>
                <div class="font-bold">{{ post.program }}</div>
            </div>
            <div class="flex justify-between">
                <div>Year</div>
                <div class="font-bold">{{ post.year }}</div>
            </div>
            <div class="flex justify-between">
                <div>Semester</div>
                <div class="font-bold">{{ post.semester }}</div>
            </div>
            <div class="flex justify-between">
                <div>Course</div>
                <div class="font-bold">{{ post.course }}</div>
            </div>
        </ion-card-content>
    </ion-card>

    <div class="px-2">
        <ion-label>Your comment</ion-label>
        <ion-textarea [formControl]="userComment" placeholder="Enter text here..."></ion-textarea>
        <ion-button expand="block" (click)="submitComment()" color="primary">Submit</ion-button>
    </div>

    <ion-item-divider>
        <ion-label> Comments </ion-label>
    </ion-item-divider>

    <ion-list>
        <ion-item *ngFor="let comment of post.comments">
            <ion-avatar slot="start">
                <img [src]="comment.createdByName | profilePhoto | async" />
            </ion-avatar>
            <ion-label>
                <h2>{{ comment.createdByName }}</h2>
                <h3>{{ comment.text }}</h3>
                <p>{{ comment.createdAt | date }}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
