<ion-header>
    <ion-toolbar>
        <ion-title>Forgot Password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="input-group">
        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
    </div>

    <ion-button type="submit" expand="block" (click)="submit()">Send Verification Email</ion-button>
    <ion-button [routerLink]="['/login']" type="button" expand="block" color="medium" fill="clear">
        Return to Login
    </ion-button>

    <div class="footer space-x-4 font-normal">
        <a [routerLink]="['/']" class="text-primary-default underline">Home</a>
        <span>|</span>
        <a [routerLink]="['/login']" class="text-primary-default underline">Login</a>
        <span>|</span>
        <a [routerLink]="['/register']" class="text-primary-default underline">Signup</a>
    </div>
</ion-content>
