<ion-header>
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="input-group">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
  </div>

  <ion-button type="submit" expand="block" (click)="submit()">Send Verification Email</ion-button>
  <ion-button [routerLink]="['/login']" type="button" expand="block" color="medium" fill="clear">
    Return to Login
  </ion-button>

  <div class="footer font-normal space-x-4">
    <a [routerLink]="['/']" class="underline text-primary-default">Home</a>
    <span>|</span>
    <a [routerLink]="['/login']" class="underline text-primary-default">Login</a>
    <span>|</span>
    <a [routerLink]="['/register']" class="underline text-primary-default">Signup</a>
  </div>
</ion-content>
