<ion-content>
  <ion-content>
    <swiper
      (swiper)="setSwiperInstance($event)"
      [autoplay]="false"
      [keyboard]="true"
      [pagination]="true"
      [scrollbar]="true"
      [zoom]="true"
    >
      <ng-template swiperSlide>
        <div style="width: 100%; height: 100vh">
          slide 1
          <ion-button (click)="next()">Next</ion-button>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div style="width: 100%; height: 100vh">
          slide 2
          <ion-button (click)="next()">Next</ion-button>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div style="width: 100%; height: 100vh">
          slide 3
          <ion-button (click)="start()">Next</ion-button>
        </div>
      </ng-template>
    </swiper>
  </ion-content>
</ion-content>
